@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.entrada{
    width: 375px;
    height: 915px;
    position: fixed;
    background-color:#FFFFFF;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;
}

.desativado{
    display: none;
}

.usuario{
    margin-top: 94px;
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    margin-bottom: 15px;
}

.entrada ::placeholder{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    color: #AEAEAE;
    font-size: 18px;
}

.entrada button{
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border-radius: 9px;
    border: transparent;
    color: #696969;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 375px;
    height: 915px;
    position: relative;
    background-color: #E5e5e5;
}


.menu-envio{
    font-family: 'Roboto', sans-serif;
    width: 70%;
    height: 100%;
    position: absolute;
    background-color:#FFFFFF;
    z-index: 1;
    right: 0;
    /*box-shadow: 100px 100px 100px 600px rgba(0, 0, 0, 0.6);*/
}

.participantes{
    font-size: 16px;
    padding-left: 18px;
}

.visibilidade{
    font-size: 16px;
    padding-left: 18px;
}

.escuro{
    width: 30%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.titulo{
    width: 258px;
    height: 89px;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.titulo2{
    width: 259px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.topo{
    height: 80px;
    width: 375px;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.conteudo{
    margin: 80px 0;
    overflow: auto;

}

.texto{
    display: flex;
    justify-content: space-between;
}

.bottom{
    height: 80px;
    width: 375px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding-left: 18px;
    padding-right: 26px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.envio{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10px;
}

ion-icon{
    font-size: 30px;
    
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

li>ion-icon {
    color: #28BB25;
    opacity:0;
}

li>ion-icon.selecionado{
    opacity: 1;
    font-size: 20px
}

.icones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo{
    height: 53px;
    width: 75px;
}

.people{
    height: 42px;
    width: 40px;
}

::placeholder{
    font-style: italic;
    font-size: 18px;
    color: black;
    
}

input{
    border: transparent;
}

.mensagem{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    width: 375px;
    min-height: 40px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.mensagem.status{
    background-color: #DCDCDC;
}

.mensagem.private_message{
    background-color: #FFDEDE;
}

@media (max-width: 375px) {
   
    .container, .bottom, .topo{
        width: 100%;
    }
    
}


strong{
    font-weight: bold;
}
h2{
    font-weight: bold;
    word-break: break-all;
}


span{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    word-wrap: anywhere;
    align-items: center;
}